<div class="container-fluid portion-container">
  <div class="row">
    <div class="col">
      <div 
        appTextSelection 
        (textSelectEvent)="renderRectangles($event)"
        class="block-portion container font-m-{{fontSizeSelected}}"
        [innerHTML]="textPortion"
      >
      </div>
    </div>
    <div *ngIf="showHighlightContainer" class="col-2 highlight-container">
      <button (click)="tagAs('1')">Dios (1)</button>
      <button (click)="tagAs('2')">Jesucristo (2)</button>
      <button (click)="tagAs('3')">Pregunta (3)</button>
      <button (click)="tagAs('4')">Personas Importantes (4)</button>
      <button (click)="tagAs('5')">Destinatarios (5)</button>
      <button (click)="tagAs('6')">Lugares (6)</button>
      <button (click)="tagAs('7')">Tiempo (7)</button>
      <button (click)="tagAs('8')">Palabra Clave (8)</button>
      <button (click)="tagAs('9')">Palabras Repetidas (9)</button>
      <button (click)="tagAs('0')">Contrastes (0)</button>
      <button (click)="tagAs('a')">Propósito (a)</button>
      <button (click)="tagAs('b')">Razón - Rect (b)</button>
      <button (click)="tagAs('c')">Razón - Circle (c)</button>
      <button (click)="tagAs('d')">Conclusión (d)</button>
      <button (click)="tagAs('e')">Verbo Pasivo (e)</button>
      <button (click)="tagAs('f')">Verbo Activo (f)</button>
      <button (click)="tagAs('g')">Causa efecto (g)</button>
    </div>
    <div *ngIf="showListContainer" class="col-4 list-container">
      Info
    </div>
  </div>
</div>
