<div class="container-fluid portion-container">
  <div class="row">
    <div class="col">
      <div 
        appTextSelection 
        (textSelectEvent)="renderRectangles($event)"
        class="block-portion container font-m-{{fontSizeSelected}}"
        [ngClass]="{'highlight-enabled' : enableHighLightTool, 'highlight-disabled': !enableHighLightTool}"
        [innerHTML]="initPortionText"
      >
      </div>
    </div>
    <div *ngIf="showHighlightContainer" class="col-2 highlight-container">
      <button (click)="tagAs('1')">Dios (1)</button>
      <button (click)="tagAs('2')">Jesucristo (2)</button>
      <button (click)="tagAs('3')">Pregunta (3)</button>
      <button (click)="tagAs('4')">Personas Importantes (4)</button>
      <button (click)="tagAs('5')">Destinatarios (5)</button>
      <button (click)="tagAs('6')">Lugares (6)</button>
      <button (click)="tagAs('7')">Tiempo (7)</button>
      <button (click)="tagAs('8')">Palabra Clave (8)</button>
      <button (click)="tagAs('9')">Palabra Repetida (9)</button>
      <button (click)="tagAs('0')">Contraste (0)</button>
      <button (click)="tagAs('a')">Propósito (a)</button>
      <button (click)="tagAs('b')">Razón - Rect (b)</button>
      <button (click)="tagAs('c')">Razón - Circle (c)</button>
      <button (click)="tagAs('d')">Conclusión (d)</button>
      <button (click)="tagAs('e')">Verbo Pasivo (e)</button>
      <button (click)="tagAs('f')">Verbo Activo (f)</button>
      <button (click)="tagAs('g')">Causa efecto (g)</button>
    </div>
    <div *ngIf="showListContainer" class="col-4 list-container">

      <div *ngIf="objectKeys(hightlightList).length">
        <h5>Listas:</h5>
        <ul><li *ngFor="let key of objectKeys(hightlightList)" class="partition-list">
          <span
            class="partition-item-title"
            (mouseover)="showAllItemList(hightlightList[key])" 
            (mouseout)="normalAllItemList(hightlightList[key])">
            "{{getTagName(key)}}"</span>:<span *ngFor="let item of hightlightList[key]" 
            (mouseover)="showItemList(item.id)" 
            (mouseout)="normalItemList(item.id)"
            class="item-list-word">{{item.content}}</span>
          </li>
        </ul>
      </div>
      <div *ngIf="!objectKeys(hightlightList).length">
        No se ha resaltado ninguna palabra en el texto aun. 
        <br /><br />
        Para resaltar palabras o frases en el texto: 
        <ul>
          <li>
            Seleccione la porción que desea resaltar.
          </li>
          <li>
            Utilice los botones de resaltado (click en "Mostrar botones" en caso que no vea los botones) o presione las teclas '1-9' / 'A-G'.
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
