<div class="container-fluid">
    <div class="row">
      <div class="col-8">
          <div appTextSelection (textSelectEvent)="renderRectangles($event)" class="block-portion container">
            <strong>3</strong> Bendito sea el Dios y Padre de nuestro Señor Jesucristo, quien según su gran misericordia, nos ha hecho nacer de nuevo a una esperanza viva, mediante la resurrección de Jesucristo de entre los muertos,
            <strong>4</strong> para obtener una herencia incorruptible, inmaculada, y que no se marchitará, reservada en los cielos para vosotros,
            <strong>5</strong> que sois protegidos[c] por el poder de Dios mediante la fe, para la salvación que está preparada para ser revelada en el último tiempo.
            <strong>6</strong> En lo cual os regocijáis grandemente, aunque ahora, por un poco de tiempo si es necesario, seáis afligidos con diversas pruebas[d],
            <strong>7</strong> para que la prueba[e] de vuestra fe, más preciosa que el oro que perece, aunque probado por fuego, sea hallada que resulta en alabanza, gloria y honor en la revelación de Jesucristo;
            <strong>8</strong> a quien sin haberle visto, le amáis, y a quien ahora no veis, pero creéis en El, y os regocijáis grandemente con gozo inefable y lleno de gloria[f],
            <strong>9</strong> obteniendo, como[g] resultado de vuestra fe, la salvación de vuestras[h] almas.
            <strong>10</strong> Acerca de esta salvación, los profetas que profetizaron de la gracia que vendría a vosotros, diligentemente inquirieron e indagaron,
            <strong>11</strong> procurando saber[i] qué persona o tiempo indicaba el Espíritu de Cristo dentro de ellos, al predecir los sufrimientos de Cristo y las glorias que seguirían[j].
          </div>
      </div>
      <div class="col highlight-buttons">
        <button (click)="tagAs(1)">"God" highlight (1)</button>
      </div>
    </div>
</div>