<div class="wrapper">
  <div class="header-panel container-fluid">
    <div class="row">
      <div class="col-sm-6 search-panel">
        <div class="search-title-block">
          <span class="search-title">{{ title }}</span><span class="beta">(Beta)</span>
        </div>
        <input type="text" placeholder="1 Pedro 2:4-6" class="search-pasaje-txt" />

        <button>Load portion</button>

        <button (click)="startStopHighlight()" [ngClass]="{ 'stop-tool-btn': enableHighLightTool}" class="btn-enable-highlight">
            {{enableHighLightTool ? 'Stop' : 'Start'}} highlight tool
        </button>
      </div>
      <div class="col-sm text-right font-size-box">
        <button (click)="showHideHighlight()">
          {{showHighlightContainer ? 'Hide' : 'Show'}} buttons
        </button>
        - <button (click)="showHideList()">
          {{showListContainer ? 'Hide' : 'Show'}} list panel
        </button>
        | Font size: <button (click)="fontUp()">+</button> / <button (click)="fontDown()">-</button>
        - <button (click)="fontReset()">Reset</button></div>
    </div>
  </div>
  <app-text-portion
    [fontSizeSelected]="currentFontSize"
    [showHighlightContainer]="showHighlightContainer"
    [showListContainer]="showListContainer"
    [hightlightList]="hightlightList"
    [initPortionText]="initPortionText"
    [enableHighLightTool]="enableHighLightTool"
  >
  </app-text-portion>
</div>
<router-outlet></router-outlet>
