.wrapper
  .search-panel
    margin-bottom: 7px
    padding: 7px 5px
    background-color: #fd0

    .search-title-block
      position: relative
      display: inline-block
      width: 195px

      .search-title
        font-weight: bold
        font-size: 20px 
        padding: 5px 8px
        padding-right: 0

      .beta
        position: absolute
        top: 0
        right: 13px
        font-size: 14px 
        color: #aaa

    button
      margin-left: 5px
